
body {
  background: #D3D3D3;
  background: -webkit-linear-gradient(right, #D3D3D3, #D3D3D3);
  background: linear-gradient(to right, #D3D3D3, #D3D3D3);
  min-height: 100vh;
}

.text-gray {
  color: #aaa;
}